.page-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-red {
    color: #FF1744;
}

.color-orange {
    color: #E65100;
}

.color-yellow {
    color: #F57F17;
}

.color-green {
    color: #1B5E20;
}

.navbar-brand>img {
    margin-top: -5px;
    margin-left: -10px;
    height: 30px;
    display: inline-block;
}

.navbar-brand>span {
    font-size: 18px;
    color: white;
}

.sidebar-xs .header-highlight .navbar-header .navbar-brand {
    background-image: url("/acp/images/logo_white.png");
    background-size: 40px;
}

.sidebar-xs .header-highlight .navbar-header .navbar-brand>span {
    display: none;
}

.table th { font-size: 15px; }
.table td { font-size: 15px; }

.navigation>li.active>a {
    background-color: red;
}

.live .panel-body {
    padding: 0px;
}

.live .panel-body .datatable-header{
    display:none;
}

.live .panel-body .datatable-footer{
    display:none;
}

.live table>thead>tr>th {
    max-width: 100%;
    padding: 5px 0px 5px 10px;
    white-space: normal!important;
}

.live table>tbody>tr>td {
    padding: 6px 0px 5px 10px;
    white-space: normal!important;;
}

.collapse-icon {
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 260px;
}
.collapse-icon  i {
    font-size: 2em;
}
.uncollapse-icon i {
    font-size: 2em;
}

.collapse-icon div {
    padding-top: 5px;
}

.uncollapse-icon div {
    padding-top: 5px;
}

.uncollapse-icon {
    width: 56px;
    position: fixed;
    bottom: 0;
    display: none !important;
}

.sidebar-xs .collapse-icon {
    display: none !important;
}

.sidebar-xs .uncollapse-icon {
    display: block !important;
}

.footer {
    position: fixed;
    width: 100%;
    background-color: #263238;
    text-align: center;
    height: 40px;
    bottom: 0px;
}

body {
    overflow-x: hidden;
}

.dataTables_empty {
    display:none;
}

.hide {
    display: none;
}

.ack {
    display: none;
}

.ack_allowed .ack {
    display: block;
}

.time {
    font-weight: 500;
    color: rgba(255,255,255,.75)
}

#min {
    display: none;
}
.sidebar-xs #min{
    display: block !important;
}

#full {
    padding: 12px 20px;
    min-height: 44px;
}

.sidebar-xs #full{
    display: none !important;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}