.page-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-red {
    color: #FF1744;
}

.color-orange {
    color: #E65100;
}

.color-yellow {
    color: #F57F17;
}

.color-green {
    color: #1B5E20;
}

.navbar-brand>img {
    margin-top: -5px;
    margin-left: -10px;
    height: 30px;
    display: inline-block;
}

.navbar-brand>span {
    font-size: 18px;
    color: white;
}

.sidebar-xs .header-highlight .navbar-header .navbar-brand {
    background-image: url("/acp/images/logo.png");
    background-size: 50px;
}

.sidebar-xs .header-highlight .navbar-header .navbar-brand>span {
    display: none;
}

.table th { font-size: 15px; }
.table td { font-size: 14px; }

.navigation>li.active>a {
    background-color: red;
}

.live .panel-body {
    padding: 0px;
}

.live .panel-body .datatable-header{
    display:none;
}

.live .panel-body .datatable-footer{
    display:none;
}

.live table>thead>tr>th {
    max-width: 100%;
    padding: 5px 0px 5px 10px;
    white-space: normal!important;
}

.live table>tbody>tr>td {
    padding: 6px 0px 5px 10px;
    white-space: normal!important;;
}

.collapse-icon {
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 260px;
}
.collapse-icon  i {
    font-size: 2em;
}
.uncollapse-icon i {
    font-size: 2em;
}

.collapse-icon div {
    padding-top: 5px;
}

.uncollapse-icon div {
    padding-top: 5px;
}

.uncollapse-icon {
    width: 56px;
    position: fixed;
    bottom: 0;
    display: none !important;
}

.sidebar-xs .collapse-icon {
    display: none !important;;
}

.sidebar-xs .uncollapse-icon {
    display: block !important;;
}